/* todolist */
.todo-list__container {
  grid-row: 1/ 32;
  grid-column: 13 /24;
}

.todo-form {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.todo-form__input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin: 10px 0;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .todo-form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 155px;
  }
}

.todo-form__label {
  position: absolute;
  top: 128px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.todo-form__input:focus {
  ~ .todo-form__label {
    position: absolute;
    top: 128px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.todo-form__input {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

#todo-list li {
  margin-bottom: 15px;
}
